.timessquare-xtra-lg
{
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	font-size: 300%;
	line-height: 125%;
	}

.timessquare-md-red
{
	font-family: 'Varela Round', sans-serif;
	font-weight: normal;
	font-size: 100%;
	text-color: red;
	line-height: 125%;
	}
	
.marquee-img
{
	border-radius: 4%;	
}